<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Smoothiearkisto</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Maailman aurinkoisin smoothiearkisto</h1>
        <p>Jos työt stressaavat tai marraskuinen räntä ahdistaa, lisää päivääsi palanen auringonpaistetta ja unohda murheesi smoothiearkistollamme. </p>
        
        <p>Löydät niin herkullisia kuin helppoja reseptejä! </p>
        <a href="/reseptit">Reseptit</a>, <a href="/raakaAineet">Raaka-aineet</a>
    </body>
</html>
