<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${raakaAine.nimi}">Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${raakaAine.nimi}">Raaka-aineen nimi</h1>
        
        <a href="/">Etusivulle</a><br/>
        <a href="/reseptit">Reseptiarkistoon</a><br/>
        <a href="/raakaAineet">Takaisin raaka-aineisiin</a>
        
        <h2>Reseptit</h2>
        
        <ol>
            <li th:each="Resepti: ${resepti}">
                <a th:href="@{~/reseptit/{id}(id=${Resepti.id})}">
                    <span th:text="${Resepti.nimi}">Resepti</span>
                </a>
            </li>
        </ol> 
        

    </body>
</html>