<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${resepti.nimi}">Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${resepti.nimi}">Reseptin nimi</h1>
        
        <h2>Valmiit ainesosat</h2>
        <!-- Listaa reseptin raaka-aineet lisäysjärjestyksessä
        ja sen lisäksi antaa niihin kuuluvat määrät ja ohjeet. 
        Viimeisimmän lisäyksen reseptiin voi poistaa.-->
        <ol>
            <li th:each="reseptiraakaaine, iterStat : ${reseptiRaakaAineet}">
                <form method="POST" th:action="@{~/reseptit3/{id}(id=${avain})}" >
                    <span th:each="raakaaine : ${raakaaineet2}" th:if="${raakaaine.id == reseptiraakaaine.RaakaAineId}" th:text="${raakaaine.nimi+ ','}"></span><span th:text="${' ' +reseptiraakaaine.maara}">Määrä</span><span th:text="${': '+ reseptiraakaaine.ohje}"></span>
                    <input type="hidden" name="reseptiraakaainejarjestys" th:value="${reseptiraakaaine.jarjestys}"/>
                    <input type="submit" value="Poista" th:if="${iterStat.index == iterStat.size-1}" />
                </form>
            </li>
            <li>
                <form method="POST" th:action="@{~/reseptit2/{id}(id=${avain})}">
                    
                    <select name="raakaaineid">
                        <option th:each="raakaaine2 : ${raakaaineet2}" th:value="${raakaaine2.id}" th:text="${raakaaine2.nimi}">
                            raaka-aine nimi
                        </option>
                    </select>
                    Määrä: <input type="text" name="maara"/>
                    Selitys: <input type="text" name="ohje"/>
                    <input type="submit" value="Lisää"/>
                </form>
            </li>
        </ol>
        <!-- Kun raaka-aineita on vähitään yksi, reseptin voi julistaa valmiiksi
        ja lisätä tietokantaan. Halutessa reseptiin voi vielä lisätä ylimääräisen ohjeen.-->
        <h2 th:if="${#lists.size(reseptiRaakaAineet)>0}">Tuliko valmista?</h2>
        <p th:if="${#lists.size(reseptiRaakaAineet)>0}"> Kun olet valmis, paina allaolevaa painiketta </p>
        <p th:if="${#lists.size(reseptiRaakaAineet)>0}"> Kirjota reseptille ohjeet: </p>
        <form method="POST" th:action="@{~/reseptit4/{id}(id=${avain})}" th:if="${#lists.size(reseptiRaakaAineet)>0}">
            <!-- <input style="height:150px; width: 400px;" type="text" name="selitys"/> -->
            <textarea name="selitys" cols="80" rows="5"></textarea><br/>
            <input type="submit" value="Valmis resepti!"/>
            
        </form>

    </body>
</html>