<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${resepti.nimi}">Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${resepti.nimi}">Reseptin nimi</h1>
        
        <h2>Ainesosat</h2>
        
        <ol>
            <li th:each="reseptiraakaaine : ${reseptiRaakaAineet}">
                <span th:each="raakaaine : ${raakaAineet}" th:if="${raakaaine.id == reseptiraakaaine.RaakaAineId}" th:text="${raakaaine.nimi}"></span><span th:text="${' ' +reseptiraakaaine.maara}">Määrä</span><span th:text="${': '+ reseptiraakaaine.ohje}"></span>
            </li>
            <!--<li th:each="RaakaAine : ${raakaAineet}">
                <span th:each="reseptiraakaaine : ${reseptiRaakaAineet}" th:if="${reseptiraakaaine.RaakaAineId == RaakaAine.id} " th:text="${reseptiraakaaine.maara}">Määrä</span> <span th:text="${RaakaAine.nimi}">RaakaAine</span>
            </li>-->
        </ol>
        

    </body>
</html>