<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptiarkisto</h1>
        
        <h2>Lisää uusi resepti</h2>
        <form method="POST" action="/reseptit">
            <input type="text" name="nimi" /><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <h2>Valmiit reseptit</h2>
        <ol>
            <li th:each="Resepti: ${reseptit}">
                <a th:href="@{~/reseptit/{id}(id=${Resepti.id})}">
                    <span th:text="${Resepti.nimi}">Resepti</span>
                </a>
            </li>
        </ol> 
        
    </body>
</html>